<!-- sublayout for data tables -->
<!-- inherits from layout -->
{% extends "layout.html" %}


<!-- Code needs to be in block content tag to properly inherit -->
{% block content %}

<style>

    .dropdown-style{
      margin-top:30px;
      margin-left: 30px;

    }

</style>

<!-- dropdown menu code -->
<div class="dropdown">
  <a class="btn btn-primary dropdown-toggle dropdown-style" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Select Table
  </a>

  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{{url_for('index')}}">Games Table</a></li>
    <li><a class="dropdown-item" href="{{url_for('view_players')}}">Players Table</a></li>
    <li><a class="dropdown-item" href="{{url_for('view_categories')}}">Categories Table</a></li>
    <li><a class="dropdown-item" href="{{url_for('view_genres')}}">Genres Table</a></li>
    <li><a class="dropdown-item" href="{{url_for('view_tags')}}">Tags Table</a></li>
    <li><a class="dropdown-item" href="{{url_for('view_publishers')}}">Publishers Table</a></li>
    <li><a class="dropdown-item" href="{{url_for('view_developers')}}">Developers Table</a></li>
    <li><a class="dropdown-item" href="{{url_for('view_platforms')}}">Platforms Table</a></li>
  </ul>
</div>



{% block content1 %}
{% endblock %}

{% endblock %}