<!-- View games page, gets and shows games from the database -->
<!-- inherits from layout -->
{% extends "miningSubLayout.html" %}


<!-- Code needs to be in block content tag to properly inherit -->
{% block content1 %}

<style>
    h1 {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px
    }

    h2 {
        text-align: center;
    }
</style>
<!-- Header/title -->
<h1>Data Mining Results</h1>




<h2>Association Rule Mining</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <figure class="figure">
                <img src="{{url_for('static', filename='games-genres.png')}}" class="figure-img img-fluid rounded"
                    alt="text">
                <figcaption class="figure-caption">A look at what genres players often play together</figcaption>
            </figure>
        </div>
        <div class="col">
            <figure class="figure">
                <img src="{{url_for('static', filename='genre2.png')}}" class="figure-img img-fluid rounded" alt="text">
                <figcaption class="figure-caption">A look at what genres a game often contains</figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <figure class="figure">
                <img src="{{url_for('static', filename='tag2.png')}}" class="figure-img img-fluid rounded" alt="text">
                <figcaption class="figure-caption">A look at what tags players often play together</figcaption>
            </figure>
        </div>
        <div class="col">
            <figure class="figure">
                <img src="{{url_for('static', filename='tag1.png')}}" class="figure-img img-fluid rounded" alt="text">
                <figcaption class="figure-caption">A look at what tags a game often contains</figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-sm-10 text-center">
            <figure class="figure">
                <img src="{{url_for('static', filename='cat1.png')}}" class="figure-img img-fluid rounded" alt="text">
                <figcaption class="figure-caption">A look at what categories a game often contains</figcaption>
            </figure>
        </div>
        <div class="col"></div>
    </div>
</div>


{% endblock %}