<!-- Layout page, inherited by all other html pages so I don't have to copy a lot of code -->

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <!-- Required Meta Tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <!-- Changes the title of the tab, depending on what page it is -->
  {% if title %}
  <!-- receives title, and sets it  -->
  <title>{{title}}</title>
  {% else %}
  {% endif %}
</head>


<body>

  <!-- Navigation Bar Code  -->
  <header>
    <nav class="navbar navbar-expand-lg bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('homepage') }}">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('index') }}">Data Tables</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('graph') }}">Data Mining Results</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('search') }}">Data Mining Search</a>
            </li>

          </ul>
        </div>
        <div class="row justify-content-right">
          <div class="col">
            <button type="button" class="btn btn-secondary" onclick="goBack()">Back</button>

          </div>
          <script>
            function goBack() {
              window.history.back();
            }
          </script>
        </div>
    </nav>
  </header>


  <!-- The block content is where the other html files put their code  -->
  {% block content %}
  <!-- Code is here, but in other html files  -->
  {% endblock %}

  <!-- Required Script Tag -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>